<div class="mainContainer" ng-init="vm.loadArtists()">
    <div class="container">
        <h1>Welcome artists app</h1>

        <button ng-click="vm.toAdd()">Add</button>
        <div class="container">
            <div class="row" ng-repeat="artist in vm.artists">
                <div class="col">
                    <a href="/#!/artist/{{artist._id}}">{{artist.name}} - {{artist.country}}</a>
                </div>
                <div class="col">
                    <button ng-click="vm.delete(artist._id)">delete</button>
                    <button ng-click="vm.toUpdate(artist._id)">update</button>
                </div>
            </div>
        </div>
    </div>
</div>